.modalBackdrop {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    padding-top: 200px;
}

.modalBox {
    border-radius: 5px;
    padding: 20px;
    background-color: #fff;
    width: 330px;
    margin: 0 auto;
}

.modalContent {
    text-align: center;
    font-size: 0.5rem;
}

.modalContent button {
    margin-top: 15px;
    padding: 5px 20px;
    border-radius: 5px;
    background-color: #000;
    color: #fff;
    border: 1px solid #000;
    font-family: inherit;
    cursor: pointer;
}
