.all-notes {
  max-width: 1200px;
  padding-bottom: 20px;
  text-align: left;
  margin: 0 auto;
}

/* Media Query */

@media (max-width: 1300px) {
  .all-notes {
    max-width: 900px;
  }
}

@media (max-width: 950px) {
  .all-notes {
    max-width: 600px;
  }
}

@media (max-width: 670px) {
  .all-notes {
    width: 350px;
  }
}

@media (max-width: 400px) {
  .all-notes {
    width: 90%;
    min-width: 300px;
  }
}
