@media (max-width: 1300px) {
    .Show-item {
        max-width: 900px;
    }
}

@media (max-width: 950px) {

    .Show-item {
        max-width: 600px;
    }

    #First-input {
        height: 50px;
    }

    #Second-input, .Update-item input {
        height: 100px;
    }

    .Add-item button,
    .Update-item button {
        width: 400px;
        height: 50px;
    }

    .Update-item select {
        width: 400px;
        height: 45px;
    }
}

@media (max-width: 670px) {

    .Add-item, .Update-item, .Show-item {
        width: 350px;
    }

    .Item-block {
        width: 100%;
        margin: 10px auto;
    }

    .Two-input input,
    .Update-item input {
        width: 100%;
    }

    .Update-item select {
        width: 100%;
        height: 30px;
      }

      .Add-item button,
      .Update-item button {
        width: 100%;
    }
}

@media (max-width: 400px) {

    .main-nav {
        width:100%
    }

    .route,
    .route-active {
        padding-left: 20px;
        padding-right: 20px;
    }

    .Add-item, .Update-item, .Show-item {
        width: 90%;
        min-width: 300px;
    }
}