.modalBackdrop {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    padding-top: 200px;
}

.modalBox {
    border-radius: 5px;
    background-color: #fff;
    padding: 50px 0 15px;
    width: 450px;
    margin: 0 auto;
}

.modalInput {
    width: 330px;
    height: 30px;
    font-weight: bold;
    font-size: 1.1rem;
    padding-left: 5px;
}

.modalTextarea {
    min-width: 330px;
    min-height: 100px;
    max-width: 330px;
    max-height: 100px;
    font-size: 1rem;
    padding-left: 5px;
}

.modalInput, .modalTextarea {
    font-family: "Zen Kurenaido", "Prompt", "sans-serif";
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.8);
}

.modalButtons button {
    margin: 10px 5px;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0, 0.8);
    padding: 5px 10px;
    cursor: pointer;
    background-color: #fff;
    font-family: "Zen Kurenaido", "Prompt", "sans-serif";
    font-size: 1.2rem;
}

/* RESPONSIVE */

@media (max-width: 950px) {

    .modalBackdrop {
        padding-top: 100px;
    }

    .modalBox {
        width: 380px;
        padding: 30px 0 20px;
    }

    .modalInput {
        height: 40px;
        width: 330px;
        font-size: 1.3rem;
    }

    .modalTextarea {
        min-height: 120px;
        max-height: 120px;
        min-width: 330px;
        max-width: 330px;
        font-size: 1.2rem;
    }
}

@media (max-width: 400px) {
    .modalBox {
        width: 95%;
        padding: 20px 0 10px;
        min-width: 300px;
    }

    .modalInput {
        height: 40px;
        width: 90%;
        font-size: 1.3rem;
    }

    .modalTextarea {
        min-height: 120px;
        max-height: 120px;
        min-width: 90%;
        max-width: 90%;
        font-size: 1.2rem;
    }
}

