* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Zen Kurenaido", sans-serif;
  font-weight: 400;
  background-color: #f1f1f1;
  color: #000;
  text-align: center;
}

/* Main Nav */
.main-nav {
  margin: 0 0;
  width: 100vw;
  background-color: white;
  color: black;
  padding: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.24);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.514);
  margin-bottom: 30px;
}

.route,
.route-active {
  display: inline-block;
  font-size: 20px;
  text-decoration: none;
  color: #000;
}

.route:first-child,
.route-active:first-child {
  padding-left: 20px;
  border-left: 1px solid black;
  padding-right: 20px;
  border-right: 1px solid black;
}

.route:last-child,
.route-active:last-child {
  padding-left: 20px;
  padding-right: 20px;
  border-right: 1px solid black;
}

.route-active {
  font-size: 150%;
}

/* Show Notes */
.Show-item {
  width: max-content;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 20px;
  text-align: left;
}

.Item-block {
  display: flex;
  background-color: rgb(247, 247, 247);
  display: inline-block;
  margin: 10px;
  padding: 15px 12.5px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.308);
  width: 280px;
  height: 220px;
}

.Item-block h3 {
  font-size: 25px;
  margin-top: 10px;
  text-align: center;
}

.description-text {
  word-wrap: break-word;
  word-break: break-all;
  margin: 10px 0;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 150%;
}

.date-text {
  font-size: 10px;
}

.Item-block button {
  background-color: rgb(247, 247, 247);
  border: rgb(247, 247, 247);
  margin-top: 5px;
  margin-right: 10px;
}

/* FLEX SYSTEM IN SHOW NOTE SECTION */

.item-block-flex {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.item-block-flex-footer, .item-block-flex-heading {
  flex-grow: 0;

}

.item-block-flex-body {
  flex-grow: 1;
}

.item-block-flex-footer {
  text-align: right;
}

/* Add Item and Update Item */

.Add-item h3,
.Update-item h3 {
  margin-bottom: 10px;
}

.Add-item,
.Update-item {
  display: inline-block;
  width: 49.5%;
  margin: auto 0;
}

.Add-item input,
.Update-item input {
  border-radius: 5px;
  height: 60px;
  text-align: center;
  margin: 10px auto;
  width: 60%;
  display: block;
  border: 1px solid rgb(247, 247, 247);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.308);
}

.Add-item button,
.Update-item button {
  border-radius: 10px;
  background-color: rgb(247, 247, 247);
  border: 1px solid rgba(0, 0, 0, 0.308);
}

.Two-input input:first-child {
  /* Name of Item*/
  height: 20px;
}

.Update-item select {
  width: 95px;
}
