.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  display: block;
  margin: 40px 0;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Background {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Input-form, .Update-item {
  display: block;
}

.Input-form input, .Update-item input {
  margin-right: 10px;
  border-radius: 5px;
  height: 60px;
  text-align: left;
}

.Input-form {
  margin-top: 30px;
  margin-bottom: 30px;
}

.Input-form input {
  display: block;
  margin: 5px auto;
  width: 100%;
}

#First-input {
  height: 30px;
}

.Update-item {
  margin-bottom: 100px;
  text-align: center;
  margin: auto 0;
  padding-bottom: 100px;
}

.Update-item input {
  margin: 20px 0;
  width: 300px;
  display: block;
}

.Item-block {
  background-color: rgba(0, 0, 0, 0.438);
  display: inline-block;
  margin: 10px;
  padding: 20px;
  padding-top: 0;
  border-radius: 10px;
  text-align:left;
  width: 250px;
}

.Item-block p {
  font-size: 15px;
  letter-spacing: 1px;
  line-height: 145%;
  width: 230px;
}