.App-logo {
  height: 40vmin;
  pointer-events: none;
  display: block;
  margin: 0 auto;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Background {
  text-rendering: optimizeLegibility;
  min-height: 100vh;
  background-color: #282c34;
  align-items: center;
  color: white;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 75px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Show Items */
.Show-item {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 20px;
}
.Item-block {
  background-color: rgba(0, 0, 0, 0.438);
  display: inline-block;
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
  text-align:left;
  width: 23%;
}

.Item-block p {
  /* word-wrap: break-word; */
  word-break: break-all;
  font-size: 15px;
  letter-spacing: 1px;
  line-height: 150%;
  width: auto;
  margin: 10px 0;
}

/* Add Item and Update Item */

.Add-update {
  width: 70%;
  margin: 0 auto;
}

.Add-update h3 {
  margin-bottom: 10px;
}

.Add-item, .Update-item {
  display: inline-block;
  width: 49.5%;
  margin: auto 0;
}

.Add-item input, .Update-item input {
  border-radius: 5px;
  height: 60px;
  text-align: left;
  margin: 10px auto;
  width: 60%;
  display: block;
}
.Two-input input:first-child {  /* Name of Item*/
  height: 20px;
}

.Update-item select {
  width: 95px;
}