@media (max-width: 1300px) {
    .Show-item {
        max-width: 900px;
    }
}

@media (max-width: 950px) {
    .Show-item {
        max-width: 600px;
    }

    .Update-item select {
        width: 400px;
        height: 30px;
      }

    .Add-item button,
    .Update-item button {
        width: 400px;
    }
}

@media (max-width: 670px) {
    .Show-item {
        max-width: 300px;
    }

    .Two-input input,
    .Update-item input {
        width: 300px;
    }

    .Update-item select {
        width: 300px;
        height: 30px;
      }

      .Add-item button,
      .Update-item button {
        width: 300px;
    }
}
